APP_NAME=Erotikon਍䄀倀倀开䔀一嘀㴀氀漀挀愀氀ഀ
APP_KEY=base64:6FQNp2hUuq0Qxy3Soq1eXwLspQEHflDmvJvc2iS7UMk=਍䄀倀倀开䐀䔀䈀唀䜀㴀琀爀甀攀ഀ
APP_URL=http://localhost:8000਍ഀ
LOG_CHANNEL=single਍䰀伀䜀开䰀䔀嘀䔀䰀㴀搀攀戀甀最ഀ
਍䐀䈀开䌀伀一一䔀䌀吀䤀伀一㴀洀礀猀焀氀ഀ
DB_HOST=127.0.0.1਍䐀䈀开倀伀刀吀㴀㌀㌀　㘀ഀ
DB_DATABASE=erotikon਍䐀䈀开唀匀䔀刀一䄀䴀䔀㴀爀漀漀琀ഀ
DB_PASSWORD=਍ഀ
BROADCAST_DRIVER=log਍䌀䄀䌀䠀䔀开䐀刀䤀嘀䔀刀㴀昀椀氀攀ഀ
FILESYSTEM_DISK=local਍儀唀䔀唀䔀开䌀伀一一䔀䌀吀䤀伀一㴀猀礀渀挀ഀ
SESSION_DRIVER=file਍匀䔀匀匀䤀伀一开䰀䤀䘀䔀吀䤀䴀䔀㴀㄀㈀　ഀ
਍刀䔀䐀䤀匀开䠀伀匀吀㴀㄀㈀㜀⸀　⸀　⸀㄀ഀ
REDIS_PASSWORD=null਍刀䔀䐀䤀匀开倀伀刀吀㴀㘀㌀㜀㤀ഀ
਍䴀䄀䤀䰀开䴀䄀䤀䰀䔀刀㴀猀洀琀瀀ഀ
MAIL_HOST=smtp.gmail.com਍䴀䄀䤀䰀开倀伀刀吀㴀㔀㠀㜀ഀ
MAIL_USERNAME=null਍䴀䄀䤀䰀开倀䄀匀匀圀伀刀䐀㴀渀甀氀氀ഀ
MAIL_ENCRYPTION=tls਍䴀䄀䤀䰀开䘀刀伀䴀开䄀䐀䐀刀䔀匀匀㴀渀漀爀攀瀀氀礀䀀攀爀漀琀椀欀漀渀⸀猀欀ഀ
MAIL_FROM_NAME=Erotikon਍ഀ
AWS_ACCESS_KEY_ID=਍䄀圀匀开匀䔀䌀刀䔀吀开䄀䌀䌀䔀匀匀开䬀䔀夀㴀ഀ
AWS_DEFAULT_REGION=us-east-1਍䄀圀匀开䈀唀䌀䬀䔀吀㴀ഀ
AWS_USE_PATH_STYLE_ENDPOINT=false਍ഀ
STRIPE_KEY=਍匀吀刀䤀倀䔀开匀䔀䌀刀䔀吀㴀ഀ
STRIPE_WEBHOOK_SECRET=਍ഀ
GOOGLE_CLIENT_ID=਍䜀伀伀䜀䰀䔀开䌀䰀䤀䔀一吀开匀䔀䌀刀䔀吀㴀ഀ
GOOGLE_REDIRECT_URI=਍䘀䄀䌀䔀䈀伀伀䬀开䌀䰀䤀䔀一吀开䤀䐀㴀ഀ
FACEBOOK_CLIENT_SECRET=਍䘀䄀䌀䔀䈀伀伀䬀开刀䔀䐀䤀刀䔀䌀吀开唀刀䤀㴀ഀ
਍匀䴀匀开䜀䄀吀䔀圀䄀夀开唀刀䰀㴀ഀ
SMS_GATEWAY_TOKEN=਍匀䴀匀开䜀䄀吀䔀圀䄀夀开匀䔀一䐀䔀刀㴀ഀ
SMS_GATEWAY_PREMIUM_NUMBER=਍ഀ
VITE_APP_NAME=Erotikon
਍