APP_NAME="Diskrétne Dnes"
APP_KEY=base64:6FQNp2hUuq0Qxy3Soq1eXwLspQEHflDmvJvc2iS7UMk=
APP_URL=http://localhost:8000
LOG_CHANNEL=single

DB_HOST=127.0.0.1
DB_DATABASE=diskretnednes
DB_PASSWORD=
BROADCAST_DRIVER=log
FILESYSTEM_DISK=local
SESSION_DRIVER=file

REDIS_PASSWORD=null

MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=null
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME="DiskretneDnes.sk"
AWS_ACCESS_KEY_ID=
AWS_DEFAULT_REGION=us-east-1
AWS_USE_PATH_STYLE_ENDPOINT=false
STRIPE_KEY=
STRIPE_WEBHOOK_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_REDIRECT_URI=
FACEBOOK_CLIENT_SECRET=

SMS_GATEWAY_TOKEN=
SMS_GATEWAY_PREMIUM_NUMBER=
VITE_APP_NAME="Diskrétne Dnes"
